* {
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  box-shadow: 10px -5px 10px 5px rgb(0 0 0 / 30%);
  background-color: white;
}

.container_header {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 25px;
}
.header__logo {
  flex: 2;
}
.header__logo:last-child {
  margin-right: 15px;
}
.header__menu {
  flex: 4;
  display: flex;
  justify-content: space-between;
}
.header__list {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.header__list:last-child {
  margin-right: 0px;
}
.header__link {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.header__link:hover,
.header__link:active,
.header__link:focus {
  color: rgba(24, 49, 129, 1);
}
.header__btn-link {
  text-decoration: none;
  padding: 5px 15px;
  background-color: rgba(24, 49, 129, 1);
  color: white;
  border-radius: 8px;
  font-size: 14px;
  line-height: 20px;
  margin-left: 20px;
}
.header__btn-link:hover,
.header__btn-link:active,
.header__btn-link :focus {
  background-color: rgb(59, 154, 218);
}
/**/
.wrapper_mobile {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  color: white;
  width: 300px;
  height: 40px;
}
.icon-open {
  position: absolute;
  font-size: 40px;
  color: black;
  transform: translate(50%, -50%);
  cursor: pointer;
  z-index: 2;
  top: 50%;
  right: 10%;
  transition: 0.4s;
}

.input-menu {
  display: none;
}
.main-menu {
  display: none;
  position: absolute;
  width: 100%;
  bottom: -30px;
  left: 25px;
  background: linear-gradient(to bottom, white, #86cee4);
  transform: translateY(100%);
  font-size: 0;
  overflow: hidden;
  box-shadow: 8px 14px 10px rgb(0 0 0 / 50%);
  border-radius: 0 0 0 16px;
}
.link-mobile {
  width: 100%;
  padding: 10px;
  display: block;
  font-size: 20px;
}
.icon-clos {
  position: absolute;
  color: black;
  transform: translate(50%, -50%);
  cursor: pointer;
  z-index: 2;
  top: 50%;
  font-size: 0px;
  right: 10%;
  transition: 0.4s;
}
#check-menu:checked ~ .main-menu {
  display: block;
}
#check-menu:checked ~ .label-menu .icon-open {
  font-size: 0;
}
#check-menu:checked ~ .label-menu .icon-clos {
  font-size: 40px;
}
@media (min-width: 320px) and (max-width: 1037px) {
  .wrapper_mobile {
    display: block;
  }
}
/*HIRO*/
.hiro__background-1 {
  background: url(../img/1bg.jpg) no-repeat center;
  background-size: cover;
}

.hiro__background-2 {
  background: url(../img/bg2.jpg) no-repeat center;
  background-size: cover;
}

.hiro {
  display: block;
  width: 100%;
  position: relative;
  height: 100vh;
  max-height: 860px;
  background-size: 30% cover;
  transition: 4s;
}

.hiro__background-link {
  width: 40px;
  text-decoration: none;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  right: 20px;
}

.icon__hiro {
  font-size: 40px;
  color: black;
}
.wrapper {
  max-width: 1110px;
  height: 100%;
  margin: 0 auto;
}
.hiro__content {
  height: 100%;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;

  margin-left: 20px;
}
.hiro__title {
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 15px;
}

.hiro__mini-title {
  font-size: 20px;
  color: black;
  line-height: 32px;
  font-weight: bold;
  background: linear-gradient(to right, #86cee466, white);
  border-radius: 15px;
  padding: 10px 20px;
}

/*Statistics*/
.statistics__list {
  padding: 60px 0px;
  display: flex;
  justify-content: space-between;
}
.statistics__item {
  display: flex;
  max-width: 255px;
  flex-direction: column;
  align-items: flex-start;
}
.statistics__namber {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
}
.statistics__desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

/*cutaway*/

.cutaway {
  margin-bottom: 150px;
}
.title {
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 40px;
}
.cutaway__main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  align-items: center;
}
.cutaway__logo {
  flex: 1;
  position: relative;
}
.cutaway__img {
  z-index: 2;
  position: relative;
  width: 70%;
  margin-left: 30px;
}
.cutaway__link {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  color: #183181;
  position: relative;
  background: url(../img/svg/Vector.svg) no-repeat center;
  padding-right: 155px;
  transition: 0.4s;
}

.cutaway__link:hover {
  padding-right: 170px;
}
.circle {
  width: 420px;
  height: 420px;
  background: rgba(234, 236, 247, 0.9);
  border-radius: 50%;
  position: absolute;
  top: 70px;
  left: -16px;
  z-index: 1;
  box-shadow: 9px 3px 13px 5px rgb(0 0 0 / 30%);
}
.cutaway__info {
  flex: 1;
}
.cutaway__title {
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #183181;
}
.cutaway__text {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 30px;
}
.title-cards {
  margin: 0 20px 20px;
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 40px;
}

.cards {
  height: 100%;
  display: grid;
  grid-template-areas:
    "cards__vertically   cards__long      cards__long"
    "cards__vertically   cards__center    cards__vertically-bottom"
    "cards__big          cards__big       cards__vertically-bottom"
    "cards__big          cards__big       cards__bottom-right";
  gap: 30px;
}
.cards__img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.card__decs {
  position: absolute;
  right: 0px;
  bottom: 10px;
  padding: 10px 10px;
  background: linear-gradient(to right, white, rgb(24 49 129 / 39%));
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  font-weight: 800;
}
.cards__vertically {
  grid-area: cards__vertically;
  border-radius: 10px;
  position: relative;
  box-shadow: 10px -5px 10px 5px rgba(0, 0, 0, 0.3);
}
.cards__long {
  grid-area: cards__long;
  border-radius: 10px;
  position: relative;
  box-shadow: 10px -5px 10px 5px rgba(0, 0, 0, 0.3);
}
.cards__center {
  grid-area: cards__center;
  border-radius: 10px;
  position: relative;
  box-shadow: 9px 3px 13px 5px rgb(0 0 0 / 30%);
}
.cards__vertically-bottom {
  grid-area: cards__vertically-bottom;
  border-radius: 10px;
  position: relative;
  box-shadow: 9px 3px 13px 5px rgb(0 0 0 / 30%);
}
.cards__big {
  grid-area: cards__big;
  position: relative;
  border-radius: 10px;
  box-shadow: 9px 3px 13px 5px rgb(0 0 0 / 30%);
}
.cards__bottom-right {
  grid-area: cards__bottom-right;
  border-radius: 10px;
  position: relative;
  box-shadow: 9px 3px 13px 5px rgb(0 0 0 / 30%);
}

/*contract*/

.contract__container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 500px;
  background: #183181;
  border-radius: 16px;
  margin: 0 auto;
}
.contract__info {
  padding-left: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.contract__img {
  position: absolute;
  right: 60px;
  top: -73px;
}
.contract__desc {
  font-size: 18px;
  line-height: 32px;
  max-width: 450px;
  color: white;
  margin-bottom: 50px;
}
.title__white {
  color: white;
}
.contract__link {
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-decoration: none;
  position: relative;
  background: url(../img/svg/Vector1.svg) no-repeat center;
  color: white;
  padding-right: 180px;
  transition: 0.4s;
}

.contract__link:hover {
  padding-right: 190px;
}

/*CONTACT*/
.contact {
  margin-bottom: 150px;
}
.contact__info {
  font-size: 20px;
  line-height: 24px;
  text-align: start;
  border-left: 3px solid#183181;
}
.contact__top-title {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
.contact__title {
  font-size: 23px;
  font-weight: bold;
  margin: 0 0 25px 30px;
  color: #183181;
  margin-right: 150px;
}

.contact__containers {
  width: 100%;
  display: flex;
  display: flex;
  justify-content: space-between;
}
.contact__container {
  flex-wrap: nowrap;
  display: flex;
}
.map {
  display: flex;
  justify-content: flex-end;
}
.map__address {
  width: 400px;
  border-radius: 50%;
  border: 1px solid gray;
  height: 400px;

  box-shadow: 9px 3px 13px 5px rgb(0 0 0 / 30%);
}
.contact__list {
  width: 200px;
  padding-left: 25px;
}
.contact__list-title {
  margin-bottom: 15px;
  font-size: 19px;
  font-weight: bold;
}
.contact__list-item {
  font-weight: 300;
  margin-bottom: 40px;
  font-size: 15px;
}
.contact__list-item:first-child {
  margin-top: 30px;
}
.icon {
  margin-right: 10px;
}
.contact__element {
  position: relative;
  width: 150px;
  height: 150px;
  box-shadow: 9px 3px 13px 5px rgb(0 0 0 / 30%);
  border-radius: 50%;
}
.contact__img {
  border-radius: 50%;
  width: 150px;
}
.contact__link {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
}
.contact__icon {
  line-height: 145px;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0;
  position: absolute;
  background: rgba(228, 225, 225, 0.7);
  display: none;
  border-radius: 50%;
  text-align: center;
  color: #183181;
  font-size: 50px;
}
.contact__element:hover .contact__icon {
  display: block;
}
.contact__element:nth-child(2) {
  margin-top: -97px;
  margin-left: -194px;
}
.contact__element:nth-child(3) {
  margin-top: -74px;
  margin-left: 13px;
}
.contact__element:nth-child(4) {
  margin-top: -37px;
  margin-left: -151px;
}
/*FOOTER*/
.footer {
  width: 100%;
  height: 250px;
  background: linear-gradient(to bottom, #183181, black);
}
.wrapper__footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__link {
  text-decoration: none;
  color: white;
  font-size: 12px;
}
.footer__link:hover {
  color: rgb(240, 225, 93);
}

.footer__left {
  background: linear-gradient(to bottom, #2345b4, black);
  border-radius: 15px;

  box-shadow: 9px 3px 13px 5px rgb(0 0 0 / 30%);
}
.footer__right {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer__list {
  display: flex;
  max-width: 240px;

  flex-direction: column;
}
.footer__list:nth-child(1) {
  margin-right: 70px;
  margin-left: 20px;
}
.footer__title {
  font-size: 15px;
  color: white;
  margin-bottom: 15px;
}

.name-input-title {
  font-size: 15px;
  color: white;
  margin: 10px;
  text-align: center;
  line-height: 22px;
}
.name-input {
  font-size: 15px;
  color: white;
  margin: 10px;
  display: inline-block;
}
.footer__list-item {
  margin: 5px 0;
}
.footer__input {
  max-width: 150px;
  margin: 0 20px 20px 20px;
}
.input-name {
  margin-left: 23px;
}
.input-email {
  margin-left: 10px;
}
.name-input-text {
  margin-left: 65px;
  display: inline-block;
  margin-bottom: 10px;
}
.textarea {
  width: 473px;
  height: 50px;
  resize: none;
}

.submit {
  display: inline-block;
  width: 28px;
  height: 74px;
  background: linear-gradient(45deg, white, transparent);
  border-radius: 21px;
  border: 0;
  margin-right: 10px;
}
.footer__input-container {
  max-width: 555px;
  display: inline-block;
  margin-bottom: 35px;
}
.icon-white {
  color: white;
}

/*Media*/

@media screen and (max-width: 1100px) {
  .cutaway__img {
    margin-left: 82px;
  }
  .circle {
    left: 35px;
  }
  .title-cards {
    margin: 0 20px 20px;
  }
  .statistics__list,
  .cards {
    margin: 0 20px;
  }
  .contact__social {
    margin-right: 20px;
  }
  .footer__left {
    margin-right: 20px;
  }
}

@media all and (max-width: 1037px) {
  .title {
    font-size: 37px;
  }
}
@media (min-width: 500px) and (max-width: 1037px) {
  .container_header {
    height: 100px;
  }
  .header__menu {
    display: none;
  }

  .title-cards {
    font-size: 25px;
  }

  .statistics__desc {
    max-width: 70px;
  }

  .statistics__namber {
    font-weight: 800;
    font-size: 30px;
    line-height: 34px;
  }
  .contact__top-title {
    justify-content: center;
    margin-top: 50px;
  }
  .contact {
    margin-bottom: 50px;
  }
  .contact__containers {
  }
  .contact__info {
    margin-left: 9px;
  }
  .contact__icon {
    line-height: 121px;
  }
  .contact__list {
    width: 200px;
    padding-left: 15px;
  }
  .contract__desc {
    font-size: 14px;
    line-height: 28px;
    max-width: 395px;
    margin-bottom: 25px;
  }
  .contact__title {
    margin: 0 0 25px 30px;
    margin-right: 25px;
  }
  .title {
    font-weight: 800;
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 20px;
  }
  .card__decs {
    right: 0px;
    bottom: 10px;
    padding: 0px;
    font-size: 10px;
    line-height: 20px;
    font-weight: 800;
  }
  .contract__link {
    font-weight: bold;
    font-size: 23px;
  }
  .statistics__list,
  .cards {
    margin: 0 35px;
  }
  .statistics__item:last-child {
    display: none;
  }
  .cutaway {
    margin-bottom: 50px;
  }
  .cutaway__text {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 20px;

    margin-right: 20px;
  }
  .cutaway__img {
    margin-left: 30px;
  }
  .circle {
    display: none;
  }
  .contact__element {
    width: 125px;
    height: 125px;
  }
  .contact__img {
    border-radius: 50%;
    width: 125px;
  }
  .contract__info {
    padding-left: 30px;
  }
  .contract__decor {
    display: none;
  }
  .map {
    display: none;
  }
  .contact__element:nth-child(2) {
    margin-top: -74px;
    margin-left: -100px;
  }
  .contact__element:nth-child(3) {
    margin-top: -40px;
    margin-left: 16px;
  }
  .contact__element:nth-child(4) {
    margin-top: -3px;
    margin-left: -59px;
  }

  .footer__left {
    background: linear-gradient(to top, #183181, black);
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
  }
  .textarea {
    min-width: 195px;
    max-width: 350px;
    height: 50px;
  }
  .footer__right {
    margin-left: 50px;
  }
  .footer__left {
    margin-right: 0;
    padding-bottom: 20px;
  }
  .footer__input-container {
    max-width: 434px;
    margin-bottom: 0;
  }
  .name-input-title {
    margin: 10px 10px 10px 60px;
    padding-top: 15px;
    border-top: 1px solid gray;
  }
}
@media (min-width: 320px) and (max-width: 500px) {
  .container_header {
    height: 100px;
  }
  .header__menu {
    display: none;
  }

  .icon__hiro {
    font-size: 30px;
    color: black;
  }

  .hiro__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 61px;
  }
  .hiro__mini-title {
    font-size: 13px;
    line-height: 19px;
  }
  .statistics__list {
    padding: 30px 0px;
  }
  .statistics__namber {
    font-weight: 800;
    font-size: 27px;
    line-height: 32px;
  }
  .statistics__desc {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
  }
  .statistics__item:nth-child(3),
  .statistics__item:nth-child(4) {
    display: none;
  }
  .statistics__item {
    margin-right: 37px;
  }
  .cutaway__logo {
    display: none;
  }
  .cutaway__title {
    text-align: center;
    margin-top: 30px;
  }
  .contact__top-title {
    justify-content: center;
  }
  .title {
    font-size: 31px;
    text-align: center;
    max-width: 400px;
    margin-bottom: 46px;
    line-height: 48px;
  }
  .cutaway {
    margin-bottom: 50px;
  }
  .cutaway__text {
    font-size: 14px;
    line-height: 28px;
    margin: 0 20px;
    margin-bottom: 20px;
  }
  .cutaway__link {
    font-size: 15px;
    line-height: 30px;
    margin-left: 20px;
    padding-right: 129px;
  }
  .cutaway__main {
    margin-bottom: 30px;
  }
  .title-cards {
    margin: 0 20px 20px;
    font-weight: 800;
    font-size: 25px;
    line-height: 40px;
  }
  .cards {
    height: 100%;
    display: grid;
    grid-template-areas:
      "cards__long        cards__long         cards__long                 cards__long"
      "cards__vertically  cards__vertically   cards__vertically-bottom    cards__vertically-bottom"
      "cards__big         cards__big          cards__big                  cards__big"
      "cards__center      cards__center       cards__bottom-right         cards__bottom-right";
    gap: 10px;
  }
  .card__decs {
    padding: 0px;
    font-size: 10px;
    line-height: 14px;
    font-weight: 500;
  }
  .contract__img {
    display: none;
  }
  .contract__info {
    padding-left: 0px;
    align-items: center;
  }
  .contract__desc {
    font-size: 15px;
    line-height: 27px;
    margin: 0 20px;
    margin-bottom: 30px;
    text-align: center;
  }
  .contract__link {
    font-size: 25px;
    line-height: 30px;
    padding-right: 166px;
    margin-left: 46px;
  }
  .contact__top-title {
    margin-top: 30px;
  }
  .contact__title:nth-child(2) {
    display: none;
  }
  .contact__containers {
    display: block;
  }
  .contact__container {
    display: block;
  }
  .contact__info {
    margin-left: 10px;
  }

  .map__address {
    width: 100%;
    border-radius: 0%;
    border: 1px solid gray;
    height: 150px;
    box-shadow: none;
    margin-left: 9px;
  }
  .contact__list {
    width: 100%;
    padding-left: 25px;
  }
  .contact__list-item {
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 15px;
  }
  .contact__list-title {
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: bold;
  }
  .contact__map {
    margin-bottom: 20px;
  }
  .contact__social {
    text-align: center;
    width: 100%;
  }
  .contact__element {
    position: relative;
    width: 35px;
    height: 35px;
    display: inline-block;
    box-shadow: none;
    border-radius: 0%;
  }
  .contact {
    margin-bottom: 25px;
  }
  .contact__img {
    border-radius: 50%;
    width: 50px;
    display: none;
  }
  .contact__title {
    margin: 20px 0 0px 0px;
  }
  .contact__icon {
    line-height: 40px;
    background: none;
    display: block;
    border-radius: 0%;
    text-align: center;
    font-size: 21px;
  }
  .contact__element:nth-child(2) {
    margin-top: 0px;
    margin-left: 0px;
  }
  .contact__element:nth-child(3) {
    margin-top: 0px;
    margin-left: 0px;
  }
  .contact__element:nth-child(4) {
    margin-top: 0px;
    margin-left: 0px;
  }
  /*footer*/
  .footer__left {
    background: linear-gradient(to top, #183181, black);
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    margin-right: 0;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .footer__right {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    margin-left: 0px;
  }
  .footer__list:nth-child(1) {
    margin-right: 0px;
    margin-left: 0px;
  }
  .textarea {
    min-width: 195px;
    max-width: 195px;
    height: 50px;
  }
  .textarea {
    min-width: 50px;
    max-width: 153px;
    height: 50px;
  }
  .footer__input-container {
    max-width: 235px;
    margin-bottom: 0;
  }
  .footer__list {
    max-width: 150px;
  }
  .input-email,
  .input-name {
    max-width: 150px;
  }
}
@media (min-width: 440px) and (max-width: 500px) {
  .statistics__item:nth-child(3) {
    display: block;
  }
  .statistics__item:nth-child(4) {
    display: none;
  }
}
@media (min-width: 500px) and (max-width: 1037px) {
  .statistics__item:last-child {
    display: block;
  }
}
